@import "colors";
@import "spacing";

.contact-form {
    flex-grow: 1;;
    border-radius: 8px;
    border: 1px solid rgba($color: $primary, $alpha: .1);
    background-color: rgba($primary, .05);
    padding: $padding-large;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: $secondary;

    .form-input-container {
        width: 100%;
        margin-bottom: $padding-medium;
    }

    input {
        width: 100%;
        height: 2rem;
    }


    textarea {
        width: 100%;
        resize: none;

        // TO DO: add custom scrollbar 
    }

    button {
        margin: auto;
    }

}