@import "colors";

.dice-container {
  perspective: 1000px;
}

.side {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid $text;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: linear-gradient(222deg, $background, #1f1f1f, $background);
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  user-select: none;

  &:hover {
    cursor: default;
  }
}

.dice-0 {
  transition: transform 2s;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  &.rolling {
    animation: roll-0 2s;
  }
}

.dice-1 {
  transition: transform 2s;
  transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
  &.rolling {
    animation: roll-1 2s;
  }
}

.dice-2 {
  transition: transform 2s;
  transform: rotateX(360deg) rotateY(270deg) rotateZ(360deg);
  &.rolling {
    animation: roll-2 2s;
  }
}

.dice-3 {
  transition: transform 2s;
  transform: rotateX(360deg) rotateY(90deg) rotateZ(360deg);
  &.rolling {
    animation: roll-3 2s;
  }
}

.dice-4 {
  transition: transform 2s;
  transform: rotateX(270deg) rotateY(360deg) rotateZ(0deg);
  &.rolling {
    animation: roll-4 2s;
  }
}

.dice-5 {
  transition: transform 2s;
  transform: rotateX(270deg) rotateY(180deg) rotateZ(180deg);
  &.rolling {
    animation: roll-5 2s;
  }
}

@keyframes roll-0 {
  0% {
    transform: rotateX(270deg) rotateY(180deg) rotateZ(180deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes roll-1 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
  }
}

@keyframes roll-2 {
  0% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
}

@keyframes roll-3 {
  0% {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(90deg) rotateZ(0deg);
  }
}

@keyframes roll-4 {
  0% {
    transform: rotateX(360deg) rotateY(90deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(270deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes roll-5 {
  0% {
    transform: rotateX(270deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(270deg) rotateY(180deg) rotateZ(180deg)
  }
}

.front {
  transform: rotateY(0deg) translateZ(50px);
}

.back {
  transform: rotateY(180deg) translateZ(50px);
}

.right {
  transform: rotateY(90deg) translateZ(50px);
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
}

.top {
  transform: rotateX(90deg) translateZ(50px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
}
