@import "colors";
@import "spacing";

.job-container {
    display: flex;
    gap: $padding-medium;
    padding: $padding-medium 48px;
    margin-bottom: $padding-medium;
    border-radius: 8px;
    border: 1px solid rgba($color: $primary, $alpha: .1);
    background-color: rgba($primary, .05);
    color: $secondary;
    
    line-height: 1.3em;
}

.company {
    font-size: x-large;
    color: $text;
    font-weight: bold;
    margin-right: $padding-standard;
}

.position-title {
    font-weight: bold;
}

.job-timespan-container{
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    gap: $padding-small;
}

.technology {
    background: rgba($color: $primary, $alpha: .1);
    border: 1px solid rgba($color: $primary, $alpha: .15);
    border-radius: 24px;
    padding: $padding-small $padding-standard;
    color: $text;
}