@import "colors";
@import "spacing";

#experience-accordian:hover {
  .experience-card-border {
    opacity: 1;
  }
}

.experience-card {
  position: relative;
  display: flex;
  border-radius: 8px;
  background-color: rgba($primary, 0.15);
  color: $secondary;
  line-height: 1.3em;
  cursor: pointer;

  &:hover::before {
    opacity: 1;
  }

  .experience-card-border,
  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 500ms;
  }

  &::before {
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      rgba($text, 0.03),
      transparent 60%
    );
    z-index: 3;
  }

  .experience-card-border {
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      rgba($text, .15),
      transparent 40%
    );
    z-index: 1;
  }
}

.experience-card-content {
  position: relative;
  background-color: $card-background;
  padding: $padding-medium 48px;
  border-radius: inherit;
  margin: 1px;
  flex-grow: 1;
  z-index: 2;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;

  &.expanded {
    max-height: 275px;
  }

  &.collapsed {
    max-height: 110px;
  }
}
