@import "colors";
@import "spacing";

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: $padding-large;
}

.bar {
  width: 35px;
  height: 2px;
  background-color: $text;
  margin: 5px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  position: fixed;
  right: $padding-large;
  top: $top-nav-height;
}
