@import "colors";

.left-nav {
    width: 200px;
    
    button {
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        color: white;
        border: none;
        background-color: $primary;
        padding: 16px;
    
        &:hover {
            cursor: pointer;
            background-color: adjust-color($color: $primary,  $lightness: -10%);
        }
    }
}
