@import "spacing";
@import "colors";

.main-page {
  width: 100%;
  padding-top: $top-nav-height;
}

section {
  padding: 0 $padding-large;
  margin-bottom: $padding-large;
  min-height: calc(100vh - #{$top-nav-height});
  overflow: hidden;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  gap: $padding-small;
}

.technology {
  background: rgba($color: $primary, $alpha: .1);
  border: 1px solid rgba($color: $primary, $alpha: .15);
  border-radius: 24px;
  padding: $padding-small $padding-standard;
  color: $text;
}