@import "colors";
@import "spacing";

.nav-links {
    display: flex;
    gap: $padding-standard;
  
    a {
      font-weight: bold;
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 4px;
      background-color: $background;
      border: 2px solid $primary;
      color: $primary;
  
      &:hover {
        background-color: $text;
        color: $background;
        border: 2px solid $text;
      }
    }

    @media screen and (max-width: 1080px) {
      flex-direction: column;
      padding: $padding-standard $padding-large;

      a {
        border: none;
        text-align: right;
        background-color: transparent;

        &:hover {
          background-color: transparent;
          color: $text;
          border: none;
        }
      }
    }
  }
  