@import "spacing";

.projects-container {
  display: flex;
  gap: $padding-medium;
  overflow-x: auto;
  padding-inline-start: calc(50vw - #{$project-card-width});
  padding-inline-end: calc(50vw - #{$project-card-width});

  &::-webkit-scrollbar {
    display: none;
  }
}
