@import "colors";

.top-nav {
  display: flex;
  justify-content: space-between;
}

.right-side {
  display: flex;

  button {
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    background-color: $primary;
    padding: 8px 16px;

    &:hover {
      cursor: pointer;
      background-color: adjust-color($color: $primary, $lightness: -10%);
    }
  }
}

img {
  height: 80px;
  width: 80px;
}
