@import "colors";
@import "spacing";

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $top-nav-height;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 $padding-large;
  z-index: 1;
  backdrop-filter: blur(4px);
  background-image: linear-gradient(to right, transparent, $text, transparent);
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

.nav-links {
  display: flex;
  gap: 16px;

  a {
    font-weight: bold;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: $background;
    border: 2px solid $primary;
    color: $primary;

    &:hover {
      cursor: pointer;
      background-color: $text;
      color: $background;
      border: 2px solid $text;
    }
  }
}

img {
  height: 80px;
  width: 80px;
}
